* {box-sizing: border-box;}
body {
    background-image: url(../Imagens/docefundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    width: 200px;   
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 15px
}
.topo {
    background-color: rgba(226, 144, 51, 0.774)
}

a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sobre:hover {
    transition: 0.7s;
    font-size: 26px;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em
}

.contato01 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.753);
    text-shadow: white 0.1em 0.1em 0.2em;
    margin-top: -17px;
}
.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
}

form {
    font-size: 18px;
    max-width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

input, textarea {
    border: 1px solid;
    width: 200px;
    padding: 10px;
}


input:hover, textarea:hover, input:focus, textarea:focus {
    background-color: rgba(255, 255, 255, 0.774);
    font-weight: bold;
}

.enviar {
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.enviar:hover {
    background-color: rgba(226, 144, 51, 0.774)
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-shadow: black 0.1em 0.1em 0.2em
}


.maps{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px black;
    margin-top: 10px;
    width: 300px;
    
}